# Experimentation Lab
.exp

# Dependencies
node_modules

# OS
.DS_Store
Thumbs.db

# Editor/IDE
.vscode
.idea/
*.swp
*.swo

# Environment variables
.env
*.local

# Logs
*.log
npm-debug.log*

# Coverage reports
coverage/
test/coverage/

# Performance test archives
test/__results__/performance/archive/
