# Experimentation Lab
.exp
plugins
docs/index.html
docs/js
docs/styles
examples/index.html
examples/index.md

# Dependencies
node_modules

# Cleanup
.DS_Store
.vscode

# Environment variables
.env

# Ignore coverage reports
coverage
test/reports
test/coverage
