# Experimentation Lab
.exp
docs/index.html
docs/js
docs/styles
examples/index.html

# Dependencies
node_modules

# Cleanup
.DS_Store
.vscode

# Environment variables
.env

# Ignore coverage reports
test/source/reports
test/source/coverage
test/build/reports
test/build/coverage
